@use "../../scss/App.scss";

.placeholder {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100px;
}

.Chevron{
    scale: 3;
}

.Chevron:hover{
    scale: 3.5;
}

.Info {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
}
.CharacterPanel {
    margin: 10px;
}

.BoardWrapper {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: App.$mobile) {
    .CharacterPanel {
        margin: 10px;
    }

    .placeholder {
        margin: 5px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 100px;
    }

    .Chart {
        background-color: App.$base-red;
        width: 20px;
        //height: 100px;
        transform: rotate(180deg);
    }

    .Info {
        display: flex;
        align-items: center;
        position: sticky;
        bottom: 0;
    }

    .BoardWrapper {
        display: flex;
        flex-wrap: wrap;
    }
}
