@use '../../scss/App.scss';

.CharacterPanel{

}

.placeholder{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Chart{
    background-color: App.$base-red;
    width: 20px;
    //height: 100px;
    transform: rotate(180deg);

}

.Info{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;

}

.VerySmallButton{
    margin: 2px;
    width: 30px;
    height: 30px;
}