@use '../scss/App.scss';

.Group{
    display: flex;
    place-items: center;
    flex-direction: column;
    

}



.Group:active{
    //background-color: lighten($color: App.$base-black, $amount: 20%);
}