$base-brown: #150D02;
$base-orange: #E65616;
$base-red: #8F1B03;
$light-red: #D33A13;
$base-grey: #787878;
$base-black: #090100;


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App {


  text-align: center;
  background-color: $base-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;



  

  .AppInterface {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    margin-top: 2vh;
    .SmallButton{
      size: 1.5vh;
      margin: 0.5vh;
      background: transparent;
      color: white;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
