$base-brown: #150d02;
$base-orange: #e65616;
$dark-orange: #b34211;
$base-red: #8f1b03;
$dark-red: #130101;
$base-red-opacity-30: #8f1a0356;
$light-red: #d33a13;
$base-grey: #787878;
$base-black: #090100;
$base-black-opacity-30: #0901004D;
$base-black-but-lighter-opacity-30-hover: #221a194D;
$base-black-opacity-30-grey-inverse-opacity-30: #6b67664d;
$base-black-opacity-30-grey-inverse-opacity-30-hover: #9d99994d;
$black-black: #000000;
$base-yellow: #d19f49;

$desktop: 1280px;
$mobile-big: 768px 1280px;
$mobile: 768px;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $base-grey;
}

::-webkit-scrollbar-thumb:hover {
  background: $base-grey;
}
::-webkit-resizer{
  display: none;
}
::-webkit-scrollbar-corner{
  display: none;
}

input {
  background: none;
  border: none;
  color: $base-grey;
  width: 4vw;
  height: 4vw;
  font-size: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fafafa;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.Close {
  stroke: #fafafa;
}

* {
  user-select: none;
}

.App {
  overflow: hidden;
  text-align: center;
  background-color: $black-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
  color: white;
  font-family: 'Cinzel Decorative', cursive;

  .AppInterface {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    margin-top: 2vh;
    .SmallButton {
      size: 1.5vh;
      margin: 0.5vh;
      background: transparent;
    }
  }


  .DelBtn{
    display: flex;
    position: relative;
    place-items: center;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    margin: 5px 0px 20px 0px;
    align-items: center;
    justify-content: center;
}

.DelBtn::before{
    content: '';
    display: block;
    border-bottom: 1px solid $base-grey;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.DelBtn:hover::before{
    width: 100%;
}

.DelBtn::after{
    content: '';
    display: block;
    border-bottom: 1px solid $base-grey;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.DelBtn:hover::after{
    width: 100%;
}
}



@media (max-width: $mobile) {
  input {
    background: none;
    border: none;
    color: $base-grey;
    width: 4vw;
    height: 4vw;
    font-size: 12px;
  }

  .App {
    overflow: hidden;
    text-align: center;
    background-color: $black-black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    color: white;
    font-family: 'Cinzel Decorative', cursive;


    .AppInterface {
      display: flex;
      flex-direction: row;
      justify-items: left;
      width: 100%;
      margin-top: 2vh;
      .SmallButton {
        size: 1.5vh;
        margin: 0.5vh;
        background: transparent;
      }
    }
  }
}
