$base-brown: #150D02;
$base-orange: #E65616;
$base-red: #8F1B03;
$light-red: #D33A13;
$base-grey: #787878;
$base-black: #090100;
$base-yellow: #d19f49;

input{
  background: none;
  border: none;
  color: $base-grey;
  width: 4vw;
  height: 4vw;
  font-size: 30px;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fafafa;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}


* {
  user-select: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App {

  overflow: hidden;
  text-align: center;
  background-color: $base-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
  color: white;


  

  .AppInterface {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    margin-top: 2vh;
    .SmallButton{
      size: 1.5vh;
      margin: 0.5vh;
      background: transparent;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
