@use "./App.scss";

.StatBox{
    display: flex;
    flex-direction: column;
}

.Board {
    width: 45vw;
    height: max-content;
    background-color: App.$base-black;
    display: flex;
}

@media (max-width: App.$mobile) {
    .Board {
        width: 40vh;
        height: 50vh;
        background-color: App.$base-black;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
    }

}
