@use "./App.scss";

.StatBox{
    display: flex;
    flex-direction: column;
}

.Board {
    width: 100%;
    margin-top: 10px;
    height: max-content;
    min-height: 40rem;
    max-height: 70%;
    background: radial-gradient(circle, App.$base-black, rgba(252,70,107,0));
    display: flex;
    overflow: scroll;
}

@media (max-width: App.$mobile) {
    .Board {
        width: 40vh;
        height: 50vh;
        background: radial-gradient(circle, App.$base-black, rgba(252,70,107,0));
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
    }

}
