@use './App.scss';

.Container{
    font-family: 'Cinzel Decorative', cursive;
    //background: radial-gradient(circle, App.$base-black, rgba(252,70,107,0));
    
    background: radial-gradient(circle, App.$base-black, App.$black-black);
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: white;
    h1{
        margin: 0;
        color: white;
    }
    .ButtonContainer{
        display: flex;
        margin-top: 30px;
        a{
            color: white;
            text-decoration: none;
        }
        .Button{
            margin: 10px;
            display: flex;
            width: 12rem;
            height: 3.1rem;
            border: 1px App.$base-orange solid;
            place-content: center;
            align-items: center;
        }
        .Button:hover{
            background-color: lighten($color: App.$base-orange, $amount: 5%);
        }
        .Button:active{
            transform: scale(90%);
        }
    }

}