@use './App.scss';

//SHEET
.AvatarContainer{
    margin-top: 1rem;
    border: 1px white solid;
    width: 20rem;
    height: 20rem;
    padding: 0.15rem;
    .Avatar{
        border: none;
        width: 20rem;
        height: 20rem;
    }
}

//LIST
.ListWrapper{
    max-height: 100%;
}
.Container{
    overflow: scroll;
}