@use './App.scss';

@mixin Background {

    display: flex;
    max-height: 100%;
    max-width: 100%;
    padding: 0.25vmax;
    margin: 0.25vmax;
    background-color: App.$base-brown;
    justify-content: center;
    box-shadow: 
    0 0 40px 10px App.$base-brown,
    
}

%Button{
    width: calc(30px + 6vw);
    height: 3vw;
    margin-top: 3vmax;
    margin-bottom: 3vmax;
}

.BigButton{
    @extend %Button;

}
.BigButtonAlt{
    @extend %Button;
    margin-top: 1vmax;
    margin-bottom: 1vmax    ;
}


.DiffButton{
    width: calc(30px + 6vw);
    height: 3vw;
}

.Background{
    @include Background;
    flex-direction: column;
    align-items: center;
    
}
.Background2{
    @include Background;
    flex-direction: row;
}

@mixin ButtonCollumn {
    display: flex;
    flex-direction: column;   
    max-width: fit-content
}

.BTNsR{
    @include ButtonCollumn;
    margin-left: 5vw;
}

.BTNsL{
    @include ButtonCollumn;
    margin-right: 5vw;


}

.CenterPanel{
    align-items: center;
    //justify-content: center;
    display: flex;
    flex-direction: column;
    width: 15vw;
    .CenterCenterPanel{
        background-color: App.$base-black;
        border: 0.10vw solid App.$base-grey;
        width: 20vh;
        height: 20vh;
    }
    .TimeLabel{
        display: flex;
        flex-direction: row;
    }
    .TimeForm:focus {outline: none;
    background: none;
    }
    .TimeForm{
        
        width: 4vw;
        background: none;
        border: none;
        color: App.$base-grey;
        text-align: center;
        font-size: 2vmax;
        cursor: text;
    }
}

